<div class ='container'>
    <div class ='row text-center'>
        <h2> Questions</h2>
        <p>検索</p>
        <%= form_tag(questions_path,:method => 'get') do %>
            <%= text_field_tag :search %>
            <%= select_tag :tag_id,
                                options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                                {
                                prompt: 'タグで絞り込み検索',
                                
                                }
            %>
            <%= submit_tag 'Search', :name => nil %>
        <% end %>
        <table class ='table'>
            <tr>
            <td></td>
            <td>name</td>
            <td>question</td>
            </tr>
            <% @questions.each do |question| %>
                <tr>
                    <%= link_to user_path(question.user) do%>
                        <div class= "image">
                            <td><%= attachment_image_tag question.user, :profile_image,format:'jpeg',size: "30x30" %></td>
                        </div>
                    <%end%>
                    <td><%= link_to question.user.name,user_path(question.user.id)%></td>
                    <td><%= link_to question.title,question_path(question.id) %></td>
                </tr>
            <%end%>
            <%= paginate @questions, class: "paginate" %>
        </table>
    </div>
</div>