<div class ="container">
    <div class ="row">
        <h1 lass ='title'>Profile</h1>
        <div class ='col-xs-6 '>
        <div class ='image-user text-center'>
                <%= attachment_image_tag @user, :profile_image,format:'jpeg',size: "170x170",class:'img-circle ' %>
        </div>

            <table class ="e-table">
                        <tr>
                             <td><span class ="text-engineer">Name</span></td>
                           <td class ="text-center"> <span class='text-engineer1 '><%=@user.nickname%></span></td>
                        </tr>
                        <tr>
                            <td class ="text-engineer">profile</td>
                            <td><span class='text-engineer1'><%=@user.profile%></span></td>
                        </tr>
            </table>
        </div>
        <div class ='col-xs-6 text-center'>
        <h2 class ='text-center user-question'>Questions</h2>
        <table class ='table'>
        <tr>
            <td>title</td>
            <td>status</td>
            <td>answer</td>
        </tr>
        <% @questions.each do |f|%>
        <tr> 
            <td><%= link_to f.title,question_path(f.id),class:'question'%></td>
            <td> <%= f.status%></td>
            <td><%= f.answers.count%>
        </tr>
        <%end%>
        </table>
        </div>
</div>
</div>