
<h1 class = "title-answer">Answer Edit</h1>
<%= form_for(@answer,:url => {controller: "answers", :action => :update}) do |f| %>
<div class ="answer-table">
<table class ="table">
<tr>
    <td><%= f.label :title ,"title"%></td>
    <td><%= f.text_field :title %></td>
</tr>
<tr>
    <td><%= f.label :answer ,"answer"%></td>
    <td><%= f.text_area :answer %></td>
</tr>
    
<tr>
    <td></td>
    <td class ="text-center"><%= f.submit "Edit",class:"submit-answer"%></td>
</tr>
</table>
</div>
<%end%>

