<div class ="container">
    <div class ="row">
        <div class ="answer">
            <%if @answer.status == true  %>
                <h2 class ="best">Best Answer!</h2>
                <%= form_tag(new_engineer_valuation_path(@answer.engineer_id), method: "get") do %>
                    <%= hidden_field_tag :engineer_id , @answer.engineer_id %>
                    <%= hidden_field_tag :user_id, @answer.question.user_id %>
                    <%= submit_tag "この質問回答者の評価をつける" %> 
                <%end%>
            <%end%>
            <h1 class ="text-center">Answer</h1>
            <table class ="table text-center">
                <%=form_for(@answer,url:answer_path) do |f|%>
                <tr>
                        <td>
                            <span class ="answer-text">タイトル</span>
                        </td>
                        <td>
                            <%=@answer.title%>
                        </td>
                        
                </tr>
                    <div class="answer-text">
                        <tr>
                            <td class ="answer-text">回答</td>
                            
                            <td colspan ="2"><div class="box7"><%=@answer.answer%></div></td>
                            
                        </tr>
                    </div>
                    <% if engineer_signed_in? %>
                        <%if @answer.engineer_id == current_engineer.id%>
                            <tr>
                                <td colspan="3"> <%= link_to "編集",edit_answer_path(@answer.id) ,class: " btn  btn-primary"%></td>
                            </tr>
                        <%end%>
                    <%end%>
                    <% if user_signed_in? %>
                        <%if @answer.question.user == current_user %>
                            <%if @answer.question.status == "未解決" and @answer.status != true%>
                                <%= f.hidden_field :status , :value => true %>
                                <tr>
                                    <td colspan ="3"><%= f.submit "この回答をベストアンサーに選んで回答の受付を終了する" ,class: "answer-submit"%></td>
                                </tr>
                            <%end%>
                        <%end%>
                    <%end%>
                <%end%>

            </table>
            <div class ="like text-right">
                いいね<%= render partial: 'likes/answer', locals: { answer: @answer } ,class:""%></br>
            </div>
        </div>
    </div>
</div>
