=begin
<p>answer</p>
<% if current_user == @question.user %>
    <%if @question.status == "未解決" %>

        <p>質問した点が解決しましたらベストアンサーを選んで解決ボタンを押してください</p>
        <%= form_for(@question,url:question_path) do |f| %>
            <%= f.hidden_field :status , :value => "解決済" %>
            <%= f.fields_for :answer do |i| %>
                <% @answer.each do |ans| %>
                    <%= i.check_box :id,{}, 1,nil %>
                    <% if ans.status == true%>
                        <%=ans.status%>
                    <%end%>
                    <%= ans.engineer.nickname%>
                    <%= ans.answer%>
                <%end%>
            <%end%>
            <%= f.submit "解決"%>
        <%end%>
    <%else%>
    <%= render partial: 'likes/answer', collection: @answer, as: :answer %>
        <% @answer.each do |ans| %>
            <% if ans.status == true%>
                < div>ベストアンサー！</ div>
            <%end%>
            <%= ans.engineer.nickname%>
            <%= ans.answer%>
        <%end%>
    <%end%>
<%else%>
    <% @answer.each do |ans| %>
        <% if ans.status == true%>
                < div>ベストアンサー！</ div>
        <%end%>
        <%= ans.engineer.nickname%>
        <%= ans.answer%>
    <%end%>

<%end%>
=end