
    <h1 class ='engineer-edit-title'>Profile Edit</h1>
<div class = "engineer-edit">
<div class ="container">

 <div class ="row">
<%= form_for(@engineer,url:engineer_path) do |f| %>
    <div class ="col-xs-5">
    <%= f.attachment_field :profile_image %>
    </div>
    <div class = "col-xs-7">
    <table class ="table">

    <tr>
        <td><%= f.label :nickname ,"name"%></td>
        <td><%= f.text_field :nickname %></td>
    </tr>
    <tr>
        <td><%= f.label :profile ,"profile"%></td>
        <td><%= f.text_area :profile %></td>
    </tr>
        <td></td>
        <td colspan ="2" class="text-center"><%= f.submit "Edit" ,class: "engineer-submit"%></td>
    </table>
    </div>
<%end%>
</div>
</div>
</div>
    