
<div class = "engineer-edit">
    <div class ="container">
        <div class ="row">
            
            <%= form_for(@engineer,url:engineer_path) do |f| %>
                <div class ="col-xs-5">
                    <%= f.attachment_field :profile_image %>
                </div>
                <div class = "col-xs-7">
                    <%= render 'layouts/error_messages', model: f.object %>
                    <table class ="a-table e-table">

                    <tr>
                        <td><%= f.label :name ,"name"%></td>
                        <td><%= f.text_field :name %></td>
                    </tr>
                    <tr>
                        <td><%= f.label :profile ,"profile"%></td>
                        <td><%= f.text_area :profile %></td>
                    </tr>
                        <td></td>
                        <td class="text-center"><%= f.submit "編集する" ,class: "engineer-submit"%></td>
                    </table>
                </div>
            <%end%>
           
        </div>
    </div>
</div>
    