

<div class ="container">
<div class ="row">
<h1 class ="text-center valuations-title">valuation</h1>

<% @valuations.each do |f| %>
    <div class ="valuation text-center">
           <span>comment</span>
            <span><%=f.comment%></span><br />
            Star
            <span id="star-rate-<%= f.status %>"></span>　<%=f.status%>point<br/>
        
    </div>
<script>
$('#star-rate-<%= f.status %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= f.status %>,
});
</script>  
<%end%>
</div>
</div>