<!DOCTYPE html>
<html>
  <head>
    <title>Engineers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
    <header class="header">
    <span class="gp">　Gather　Programmer　</span>
    <ul class="navber-right">
    <% if user_signed_in? %>
    <li><%= link_to "Questions", questions_path ,class: ''%></li>
    <li><%= link_to "マイページ", user_path(current_user)%></li>
    <li><%= link_to "質問する", new_question_path%></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: ''%></li>
    
    <!-- エンジニアログイン中 -->
    <% elsif engineer_signed_in? %>
    <li><%= link_to "Questions", questions_path ,class: ''%></li>
    <li><%= link_to "マイページ", engineer_path(current_engineer)%></li>
    <li><%= link_to "ログアウト", destroy_engineer_session_path, method: :delete, class: ''%></li>
    
    <!-- ログアウト中 -->
    <% else %>
    
    <li><%= link_to "トップページ", root_path ,class: ''%></li>
    <li><%= link_to "Questions", questions_path ,class: ''%></li>
    <% end %>
  </ul>
  </header>

  </body>


    <%= yield %>
    
  <footer class = "footer">
   </footer>
   

</html>
